In [1]:
0xF

15

In [2]:
0b110

6

In [3]:
4.3 - 2.7

1.5999999999999996

In [4]:
10, 20, 30

(10, 20, 30)

In [3]:
import sys
print(sys.getrefcount(1000))
x = 1000
print(sys.getrefcount(1000))

3
3

In [8]:

'' and 'py'

''

In [10]:
20

20

In [13]:
a = 38, 22, 12, 19, 23
a

(38, 22, 12, 19, 23)

In [14]:
(32,)

(32,)

In [15]:
32,

(32,)

In [35]:
a = [1, 2, 3, 4, 6]
a

[1, 2, 3, 4, 6]

In [46]:
print(id(a))
print(id(a[2]))
print(id(a[1]))
a[1] = 34
print(id(a[1]))

1828960867072
140711161046880
140711161047872
140711161047872

In [18]:
a = [1, 2, 3, 4, 6]
a

[1, 2, 3, 4, 6]

In [22]:
del a
a

NameError: name 'a' is not defined

In [23]:
a = [1, 2, 3, 4, 6]
a

[1, 2, 3, 4, 6]

In [54]:
print(id(a))
print(id(a[:]))
print(id(a[1:3]))

1828960867072
1828961741888
1828961773696

In [27]:
r = range(10)

In [33]:
r

range(0, 10)

In [30]:
r[4:7]

range(4, 7)

In [31]:
r[3:]

range(3, 10)

In [34]:
b = r[::2]
print(id(r))
print(id(b))
print(id(r[::2]))
print(id(list(b)))

1828960767840
1828961018528
1828961018816
1828960995840

In [55]:
year = [2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018]
population = [10249679, 10195318, 10143645, 10103233, 10022181, 9930616, 9857426, 9838892]

In [56]:
print(year[-3:])
print(population[-3:])

[2016, 2017, 2018]
[9930616, 9857426, 9838892]

In [57]:
x = {}
type(x)

dict

In [64]:
dict(zip(['a', 'b'], [1, 2]))

{'a': 1, 'b': 2}

In [178]:
print(id('n'))
print(id('n'))

1828918938032
1828918938032

In [179]:
s = 'Fortunately, however, for the reputation of Asteroid B-612, \
a Turkish dictator made a law that his subjects, under pain of death, \
should change to European costume. \
So in 1920 the astronomer gave his demonstration all over again, \
dressed with impressive style and elegance. \
And this time everybody accepted his report.'
print(s)

Fortunately, however, for the reputation of Asteroid B-612, a Turkish dictator made a law that his subjects, under pain of death, should change to European costume. So in 1920 the astronomer gave his demonstration all over again, dressed with impressive style and elegance. And this time everybody accepted his report.

In [183]:
lux = {'health': 490, 'health': 800, 'mana': 334, 'melee': 550, 'armor': 18.72}

['armor', 'health', 'mana', 'melee']

In [189]:
type(0x01F)
0x1F

31

In [190]:
if not None:
    print('참')

참

In [202]:
a = [1, 2, 3, 4, 5]
a[4:1:-2]

[5, 3]

In [205]:
for i in range(1, 101):
    if i % 3 == 0 and i % 5 == 0:
        print("FizzBuzz")
    elif i % 3 == 0:
        print("Fizz")
    elif i % 5 == 0:
        print("Buzz")
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [207]:
for i in range(1, 101):
    print('Fizz' * (i % 3 == 0) + 'Buzz' * (i % 5 == 0) or i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [1]:
import turtle as t

In [2]:
t.shape('turtle')

In [210]:
t.forward(100)

In [3]:
t.fd(100)
t.rt(90)
t.fd(100)
t.rt(90)
t.fd(100)
t.rt(90)
t.fd(100)

In [1]:
x = 9
for i in range(1, x + 1):
    if x % i == 0:
        print(i)

1
3
9

In [2]:
a = [1, 2, 3, 4, 5]
a[1:1] = [500, 600, 700]

In [3]:
a

[1, 500, 600, 700, 2, 3, 4, 5]

In [4]:
a = [1, 2, 3, 4, 5]
a[5] = 6
a

IndexError: list assignment index out of range

In [6]:
a = [1, 2, 3, 4, 5]
a[5:] = [6]
a

[1, 2, 3, 4, 5, 6]

In [7]:
seq = []
if seq:               # 리스트에 요소가 있는지 확인
    print(seq[-1])    # 요소가 있을 때만 마지막 요소를 가져옴

In [17]:
c = 278
d = c
e = 278
print(id(c))
print(id(278))
print(id(278))
print(id(d))
print(id(e))

2188456697808
2188457685040
2188457685072
2188456697808
2188456697712

In [18]:
x = 20
y = x
z = 20
print(id(x))
print(id(y))
print(id(z))
print(id(20))
print(id(20))

140711161047424
140711161047424
140711161047424
140711161047424
140711161047424

In [30]:
def increase(x):
    return x + 0


print(id(x))
print(id(increase(x)))
print(id(c))
print(id(increase(c)))

140711161047424
140711161047424
2188456697808
2188456697520

In [31]:
def increase(x):
    return x


print(id(x))
print(id(increase(x)))
print(id(c))
print(id(increase(c)))

140711161047424
140711161047424
2188456697808
2188456697808

In [15]:
a = [0, 0, 0, 0, 0]
b = [0, 0, 0, 0, 0]
print(id(a))
print(id(b))

2188456481152
2188456750784

In [33]:
def increase(x):
    x.append(1)
    return x

In [35]:
print(id(a))
print(id(increase(a)))
print(a)
print(id(b))
print(id(increase(b)))
print(b)

2188456481152
2188456481152
[0, 0, 0, 0, 0, 1, 1]
2188456750784
2188456750784
[0, 0, 0, 0, 0, 1, 1]

In [38]:
for index, value in enumerate([10, 20, 30, 40], start=5):
    print(value, ' - ', index)

10  -  5
20  -  6
30  -  7
40  -  8

In [42]:
a = [i + 5 for i in range(10) if i % 2 == 0] 
b = [i + 5 if i % 2 == 0 else i -1 for i in range(10)]
print(a)
print(b)

[5, 7, 9, 11, 13]
[5, 0, 7, 2, 9, 4, 11, 6, 13, 8]

In [44]:
table = str.maketrans('aeiou', '12345')
'apple'.translate(table)

'1ppl2'

In [45]:
import string
print(string.punctuation)

!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

In [49]:
x = '.,,, Welsh Corgi _.,,,:'
x.strip(string.punctuation+' ')

'Welsh Corgi'

In [50]:
x = 'Welsh Corgi'
print(x.ljust(15))
print(x.rjust(15))
print(x.center(15))

Welsh Corgi
    Welsh Corgi
  Welsh Corgi

In [51]:
'4'.zfill(4)

'0004'

In [52]:
'4.5'.zfill(5)

'004.5'

In [55]:
'%010d' % 200

'0000000200'

In [58]:
'%010.3f' % 3.5

'000003.500'

In [81]:
'%-10.3f' % 3.5

'3.500     '

In [70]:
'%s %d' % ('Welsh Corig', 9)

'Welsh Corig 9'

In [73]:
name, species = 'coco', 'Welsh Corgi'
sentance = f'My name is {name}! I\'m {species}!!'
print(sentance)

My name is coco! I'm Welsh Corgi!!

In [74]:
print(f'{{ {name} }}')  # 중괄호 출력하기

{ coco }

In [78]:
print(f'{name:>10}')  # 정렬하기

      coco

In [79]:
num = 2.5
print(f'{num:06.2f}')

002.50

In [86]:
print(f'{15:x>10d}')  # '{인덱스:[[채우기]정렬][길이][.자릿수][자료형]}'

xxxxxxxx15

In [88]:
print(f'{149000000:x>15,}')

xxxx149,000,000

In [91]:
'pypypypypy'.replace('py', 'nl')

'nlnlnlnlnl'

In [93]:
x = {'a': 10}
x.setdefault('b')
x

{'a': 10, 'b': None}

In [94]:
x.setdefault('c', [])
x

{'a': 10, 'b': None, 'c': []}

In [102]:
x.update(c=[])
x

{'a': 10, 'b': None, 'c': []}

In [104]:
x.update(c=7, b=2, d=34)
x

{'a': 10, 'b': 2, 'c': 7, 'd': 34}

In [105]:
y = {1: 1, 2: 2}
y

{1: 1, 2: 2}

In [106]:
y.update({2:22, 3:3})
y

{1: 1, 2: 22, 3: 3}

In [107]:
z = x.pop('a')
print(z)

10

In [110]:
z = x.pop('a', -1)
print(z)

-1

In [112]:
print(x.popitem())

('d', 34)

In [113]:
x

{'b': 2, 'c': 7}

In [114]:
print(x.get('b'))
print(x)

2
{'b': 2, 'c': 7}

In [115]:
print(x.get('a', -1))

-1

In [126]:
keys = ['welsh_corgi', 'dachshund', 'bulldog']
new_dict= dict.fromkeys(keys)
new_dict

{'welsh_corgi': None, 'dachshund': None, 'bulldog': None}

In [127]:
keys = ['welsh_corgi', 'dachshund', 'bulldog']
new_dict= dict.fromkeys(keys, 'Bow Wow!!')
new_dict

{'welsh_corgi': 'Bow Wow!!', 'dachshund': 'Bow Wow!!', 'bulldog': 'Bow Wow!!'}

In [131]:
from collections import defaultdict
x = defaultdict(int)
x['a']

0

In [132]:
x['a']

defaultdict(int, {'a': 0})

In [139]:
y = defaultdict(lambda: -1)
y['a']

-1

In [147]:
# 딕셔너리에서 특정 값을 삭제할 때, 딕셔너리 표현식이 유용하다.
# 기존 반목문으로는 에러가 발생
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
 
for key, value in x.items():
    if value == 20:    # 값이 20이면
        del x[key]     # 키-값 쌍 삭제
 
print(x)

RuntimeError: dictionary changed size during iteration

In [150]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
x = {key: value for key, value in x.items() if value != 10}
x

{'b': 20, 'c': 30, 'd': 40}

In [159]:
a = [1, 2, 3, 4, 5]
for idx, value in enumerate(a):
    if value == 3:
        a.pop(idx)
a

[1, 2, 4, 5]

In [202]:
dogs = {'Welsh Corgi', 'Dachshund', 'Golden Retriever'}
print(dogs)

{'Golden Retriever', 'Welsh Corgi', 'Dachshund'}

In [204]:
'Welsh Corgi' in dogs

True

In [205]:
set('abccd')

{'a', 'b', 'c', 'd'}

In [207]:
a = frozenset([1, 2])
a

frozenset({1, 2})

In [209]:
a.update({1})

AttributeError: 'frozenset' object has no attribute 'update'

In [211]:
a = frozenset({frozenset({1, 2}), frozenset({3, 4})})
a

frozenset({frozenset({3, 4}), frozenset({1, 2})})

In [232]:
a = {1, 2, 3, 4}
a.add(5)
a

{1, 2, 3, 4, 5}

In [217]:
a.remove(2)
a

{1, 3, 4, 5}

In [222]:
a.discard(2)
a

{1, 3, 4, 5}

In [237]:
a.pop()

5

In [318]:
a = {'2', '1', '3', '4', '5'}
for i in a:
    print(i)

2
5
4
3
1

In [322]:
import pickle

name = 'coco'
age = 2

with open('Welsh_Corgi.p', 'wb') as file:
    pickle.dump(name, file)
    pickle.dump(age, file)

In [323]:
name = None
age = None

In [324]:
with open('Welsh_Corgi.p', 'rb') as file:
    name = pickle.load(file)
    age = pickle.load(file)
    
print(name)
print(age)

coco
2

In [328]:
text = 'hello'
print(list(zip(text, text[1:])))
for i in zip(text, text[1:]):
    print(i[0], i[1], sep='')

[('h', 'e'), ('e', 'l'), ('l', 'l'), ('l', 'o')]
he
el
ll
lo

In [336]:
text = 'hello'
x = [text[i:] for i in range(3)]
y = list(zip(*x))
y

[('h', 'e', 'l'), ('e', 'l', 'l'), ('l', 'l', 'o')]

In [337]:
z = list(zip(*[text[i:] for i in range(3)]))
print(z)

[('h', 'e', 'l'), ('e', 'l', 'l'), ('l', 'l', 'o')]

In [340]:
n = int(input())
text = input()
words = text.split()
 
if n > len(words):
    print('wrong')
else:
    n_gram = zip(*[words[i:] for i in range(n)])
    for i in n_gram:
        print(i)

3
Python is the best language in the world!
('Python', 'is', 'the')
('is', 'the', 'best')
('the', 'best', 'language')
('best', 'language', 'in')
('language', 'in', 'the')
('in', 'the', 'world!')

In [ ]:
with open('words.txt', 'r') as file:
    for i in file:
        word = i.strip('\n')
        if word == word[::-1]:
            print(word)

In [341]:
from math import pi

r = float(input())
print(r * r * pi)

10.0
314.1592653589793

In [3]:
for i in range(4):
    a = i
print(a)

3

In [4]:
while True:
    x = 30
    if x == 30:
        break
        
print(x)

30

In [5]:
dir()

['In',
 'Out',
 '_',
 '_1',
 '_2',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i2',
 '_i3',
 '_i4',
 '_i5',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'a',
 'exit',
 'get_ipython',
 'i',
 'quit',
 'x']

In [7]:
len({2, 3, 4, 5, 6, 7, 8})

7